body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    
}

.card {
    
    background-color: hsl(216, 50%, 16%);
   padding: 24px;
   border-radius: 16px;
}
   .text2 {
    display: flex;
    justify-content: space-between;
    
   }
     .eye:hover {
        
     }
    .equ {
        color: rgb(139, 172, 217);
    }
     h1 {
        color: rgb(255, 255, 255);
     }
       h1:hover {
        color:  rgb(0, 255, 248);
        cursor: pointer;
       }

      .ETH {
        font-size: normal;
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: rgb(0, 255, 248);
      }
       .ETH:hover {
        cursor: pointer;
       }

      .ragaca {
        width: 350px;
        height: 350px;
        border-radius: 16px;
      }
         
        
    
        
       .price {
        display: flex;
        gap: 10px;
       }

        .day {
            color: rgb(139, 172, 217);
            margin: 0;
        }

         .text3 {
            display: flex;
            gap: 10px;
            align-items: center;
         }

         .blue {
            color: rgb(139, 172, 217);
         }

          .white {
            color: rgb(255, 255, 255);

          }

           .white:hover {
            color:  rgb(0, 255, 248);
             cursor: pointer;
           }

         

         .avatar {
            height: 33px;
            border: 1px solid white;
            box-sizing: border-box;
            border-radius: 16px;
         }

          hr {
            margin-top: 25px;
            margin-bottom: 20px;
            border: 1px solid rgb(46, 64, 90);
          }
    